#pragma code_page(65001)
#define RT_MANIFEST 24
1 VERSIONINFO
FILESUBTYPE 0x0
FILEFLAGS 0x0
FILEOS 0x40004
FILEVERSION 0, 1, 0, 0
PRODUCTVERSION 0, 1, 0, 0
FILETYPE 0x1
FILEFLAGSMASK 0x3f
{
    BLOCK "StringFileInfo" {
        BLOCK "000004b0" {
            VALUE "ProductName", "reutils"
            VALUE "CompanyName", "reutils project"
            VALUE "PrivateBuild", "Koalas on Krack"
            VALUE "InternalName", "reutils"
            VALUE "OriginalFilename", "reutils.exe"
            VALUE "ProductVersion", "0.1.0"
            VALUE "FileVersion", "0.1.0"
            VALUE "LegalCopyright", "Copyright © 2023 Elizabeth Myers and Malina Thomas. All rights reserved. Licensed under the GPLv2 ONLY."
            VALUE "FileDescription", "A reimplementation of BusyBox in Rust"
        }
    }
    BLOCK "VarFileInfo" {
        VALUE "Translation", 0x0000, 0x04b0
    }
}
1 ICON "assets/icon.ico"
1 RT_MANIFEST "assets/manifest.xml"
